form action="/albums/#{result['AlbumId']}/update" method='post'
    input type="text" name='recipe_name' placeholder='Namn på recept'
    input type="hidden" name='ingredients' placeholder='ingredienser'
    input type="submit" value='Spara ändringar'